<h1>rest-gen</h1>
<p class="lead">quickly generate spring rest controller class</p>

<div ng-cloak>  
    <div class="row">

        <div class="col-md-2">
<div class="alert alert-info">
            <input type="text" class="form-control" placeholder="Entity name" ng-model="entityName">
            
</div>
        </div>

        
        <div class="col-md-10">
            <div class="alert alert-info">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="..." ng-model="output">
                    <div class="input-group-btn">
                        <!-- Buttons -->
                        <button class="btn btn-success" type="submit" ng-click="generate()">
                            <span >
                                GENERATE
                            </span>
                        </button>
                        <button class="btn btn-primary" type="submit" ng-click="download()">
                            <span>
                                DOWNLOAD CLASS
                            </span>
                        </button>  
                    </div>
                </div>
            </div>         
        </div>
    </div>
</div>